/*styles.css*/
.rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
  }  


h1{
    font-family: "Rock Salt", cursive;
    font-size: xx-large;
    font-style: normal;
    text-align: center;
}
p1{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
}
a{
    size: 100;
}
h3{
    font-family: "Rock Salt", cursive;
    font-size: xx-large;
    font-style: normal;
    text-align: center;
}
h4{
    font-family: "Rock Salt", cursive;
    font-size: xx-large;
    font-style: normal;
    text-align: center;
}
h5{
    font-family: ITC;
}




